* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

/* @font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf) format("ttf");
    font-style: normal;
    font-weight: 400;
} */

body {
    font-family: "Poppins", sans-serif;
    text-rendering: optimizeSpeed;
    line-height: 1.3;
    /* background-image: url(../img/header-gradient.svg), url(../img/header-gradient-background.svg);
    background-size: 110vw,1280px;
    background-repeat: no-repeat,no-repeat;
    background-position: 0 0, center -1%;
    padding: 0 0 150px 0;
    background-color: #fbfbfb; */
}

img, picture {
    max-width: 100%;
    display: block;
}

.header {
    width: 100%;
    position: fixed;
    z-index: 10;
    transition: background-color .2s;
}

.header-inner {
    margin: 0 auto;
    max-width: 1310px;
    display: grid;
    padding: 23px 20px;
    grid-template-columns: minmax(200px,1fr) minmax(300px,.8fr) 1fr;
    grid-gap: 24px;
}

.header-logo {
    display: block;
    width: 40px;
    z-index: 10;
    height: 40px;
    align-self: center;
}

.header-logo img {
    width: 100%;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    width: 100%;
}

.header-link {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}

.header-connect-btn {
    place-self: center flex-end;
    display: flex;
    align-items: center;
    position: relative;

    font-size: 14px;
    cursor: pointer;
    padding: 10px 20px;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    height: 40px;
    transition: box-shadow .2s,color .2s;
    box-shadow: 0 2px 3px rgb(19 52 77 / 15%);
}

.header-connect-btn:hover {
    box-shadow: 0 4px 7px rgb(0 0 0 / 10%);
    color: #686868;
}

.header .learn-menu {
    display: none;
}

.header-link-title:hover ~ .learn-menu {
    display: block;
}

.header-background-rings {
    position: absolute;
    margin: auto;
    top: 73px;
    left: 0;
    right: 0;
    max-width: 736px;
    max-height: 631px;
    width: 100%;
}

.header-mobile-menu-btn {
    display: none;
    z-index: 1;
    background: #fff;
    height: 36px;
    width: 36px;
    border-radius: 10px;
    border: 0;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 0;
    transition: background-color .2s;
}

.header-mobile-menu-btn-line, .header-mobile-menu-btn-line:after, .header-mobile-menu-btn-line:before {
    display: block;
    position: relative;
    height: 1px;
    background: #000;
    width: 13px;
    border-radius: 1px;
    transition: transform .2s,rotate .2s;
}

.header-mobile-menu-btn-line:before {
    transition: opacity .1s;
    transform: translateY(4px);
}
.header-mobile-menu-btn-line:after, .header-mobile-menu-btn-line:before {
    content: "";
    position: absolute;
}

.header-mobile-menu-btn-line:after {
    transform: translateY(-4px);
}
.header-mobile-menu-btn-line:after, .header-mobile-menu-btn-line:before {
    content: "";
    position: absolute;
}

.learn-menu:hover {
    display: block;
}

.learn-menu-card {
    background: #fff;
    box-shadow: 0 24px 47px rgb(95 95 95 / 25%), 0 6.48902px 20.7143px rgb(95 95 95 / 2%), 0 0.941701px 3.85757px rgb(95 95 95 / 1%);
    border-radius: 20px;
    position: absolute;
    width: 340px;
    z-index: 9999;
    left: -20px;
}

.learn-menu-card ul {
    list-style: none;
    margin: 0;
    padding: 12px;
}

.learn-menu-card .learn-menu-item {
    text-decoration: none;
    display: flex;
    padding: 8px;
    cursor: pointer;
    align-items: center;
    transition: background-color .2s;
}

.learn-menu-card .learn-menu-item-icon {
    width: 50px;
    height: 50px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.learn-menu-item:nth-child(1) > .learn-menu-item-icon {
    background: #3db9ff;
}

.learn-menu-item:nth-child(2) > .learn-menu-item-icon {
    background: #ffaf52;
}

.learn-menu-item:nth-child(3) > .learn-menu-item-icon {
    background-color: #fe6060;
}

.learn-menu-item:nth-child(4) > .learn-menu-item-icon {
    background-color: #0d0d0d;
}

div.header-link.community-link > div.learn-menu-card.learn-menu > ul > a > div.learn-menu-item-icon {
    box-shadow: 0 7px 10px rgb(0 0 0 / 3%);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: grid;
    align-items: center;
    justify-items: center;
    place-items: center;
    border: 0;
    background: #fff;
}

.learn-menu-item:hover {
    background: #fbfbfb;
    border-radius: 18px;
}

.learn-menu-card .learn-menu-item-info {
    text-align: left;
    margin-left: 12px;
}

.learn-menu-card .learn-menu-item-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 6px;
    color: #000;
}

.learn-menu-card .learn-menu-item-description {
    color: #bababa;
    font-size: 12px;
}

.rotating-feed {
    display: block;
    position: relative;
    z-index: 1;
    line-height: 24px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 32px;
    min-height: 45px;
    color: #000;
}

.rotating-feed strong {
    font-weight: bolder;
}

.rotating-feed strong:first-of-type {
    text-decoration: underline;
    display: inline-block;
}



.rotating-feed-wrapper {
    position: absolute;
    background: rgba(0,0,0,.05);
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    border-radius: 5px;
    padding: 8px 16px;
}

.rotating-feed-icon {
    width: 24px;
    margin-right: 12px;
}

.home {
    background-image: url(../img/header-gradient.svg), url(../img/header-gradient-background.svg);
    background-size: 110vw,1280px;
    background-repeat: no-repeat,no-repeat;
    background-position: 0 0, center -1%;
    background-color: #fbfbfb;
}

.hero-title {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.1;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    padding: 142px 24px 22px;
    font-size: 84px;
    text-align: center;
}

.hero-subtitle {
    line-height: 1.8;
    font-size: 16px;
    padding: 0 24px;
    max-width: 760px;
    margin: 0 auto 180px;
    margin-bottom: 135px;
    text-align: center;
    position: relative;
}

.hero-cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    margin: 0 auto;
    padding: 20px 28px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    border-radius: 10px;
    transition: background-color .15s;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -90px;
}

.hero-cta:hover {
    background-color: #686868;
}

.hero-phone-wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1310px;
    padding: 0 20px;
    position: relative;
}

.hero-phone-wrapper img {
    margin: 0 auto;
}

.hero-phone-wrapper::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg,#fff 1.05%,#747474 43.92%,#fff 100.39%);
}

.logos {
    text-align: center;
    margin: 30px 0 0 0;
}

.logos p {
    font-size: 12px;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 12px;
}

.logos img {
    display: inline-block;
    width: 120px;
    height: 60px;
    margin: 6px 12px;
}

.about {
    max-width: 1240px;
    display: grid;
    margin: 0 auto 73px;
    padding: 48px 20px 24px;
    grid-template-columns: repeat(2,1fr);
}

.about-title {
    margin-bottom: 0;
    font-size: 32px;
    max-width: 85%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.about-description {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 24px;
}

.about-button {
    width: auto;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    margin: 0 auto;
    padding: 20px 28px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    border-radius: 10px;
    transition: background-color .15s;
    cursor: pointer;
}

.about-button:hover {
    background-color: #686868;
}

.about-button:focus ~ .modal {
    display: grid;
}

.about-button img {
    margin-right: 10px;
    max-width: 100%;
    display: block;
}

.collector-deck-info {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 16px 82px;
    position: relative;   
}

.collector-deck-info-title {
    text-align: center;
    font-size: 53px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-bottom: 93px;
    padding: 0 24px;
}

.collector-deck-feature {
    position: relative;
    display: flex;
    padding: 30px 60px;
    border-radius: 12px;
    background: #fff;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
}

.collector-deck-feature.reversed {
    flex-direction: row-reverse;
}

.collector-deck-feature.reversed .collector-deck-feature-content {
    margin: 0 auto;
}

.collector-deck-feature.reversed .collector-deck-feature-star {
    top: 30%;
    left: 82%;
}

.collector-deck-feature-index {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    display: block;
}

.collector-deck-feature-title {
    font-weight: 300;
    font-size: 40px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text!important;
    margin-bottom: 24px;
}

.collector-deck-feature:nth-child(2) > div > h3 {
    background: -webkit-linear-gradient(0deg,#fe6975,#fea869);
}

.collector-deck-feature:nth-child(3) > div > h3 {
    background: -webkit-linear-gradient(0deg,#486ffa,#ab48fa);
}

.collector-deck-feature:nth-child(4) > div > h3 {
    background: -webkit-linear-gradient(0deg,#30a7ff,#30fff3);
}


.collector-deck-feature-description {
    font-size: 14px;
    line-height: 1.8;
    font-family: "Poppins", sans-serif;
    max-width: 300px;
    margin-bottom: 16px;
}

.collector-deck-feature-wrapper {
    display: inline-flex;
    align-items: center;
    -webkit-text-decoration-color: #030303;
    text-decoration-color: #030303;
}

.collector-deck-feature-wrapper:hover .collector-deck-feature-btn {
    box-shadow: 0 4px 7px rgb(0 0 0 / 10%);
}

.collector-deck-feature-wrapper:hover .collector-deck-feature-btn path {
    stroke: #686868;
}

.collector-deck-feature-wrapper:hover .collector-deck-feature-link {
    color: #686868;
    -webkit-text-decoration-color: #686868;
    text-decoration-color: #686868;
}

.collector-deck-feature-wrapper-disabled {
    pointer-events: none;
    -webkit-text-decoration-color: #c4c4c4;
    text-decoration-color: #c4c4c4;
}

.collector-deck-feature-wrapper-disabled .collector-deck-feature-btn {
    background: #f3f3f3;
}

.collector-deck-feature-wrapper-disabled .collector-deck-feature-btn path {
    stroke: #c4c4c4;
}

.collector-deck-feature-wrapper-disabled .collector-deck-feature-link {
    color: #c4c4c4;
}

.collector-deck-feature-btn {
    box-shadow: 0 2px 3px rgb(19 52 77 / 15%);
    border-radius: 50%;
    height: 56px;
    width: 56px;
    display: grid;
    place-items: center;
    border: 0;
    background: #fff;
    margin-right: 16px;
    cursor: pointer;
    transition: box-shadow .2s;
}

.collector-deck-feature-link {
    color: #030303;
    font-size: 14px;
    line-height: 1.6;
    transition: color .2s;
}

.collector-deck-feature-img {
    width: 530px;
}

.collector-deck-feature-star {
    position: absolute;
    left: 28%;
    top: 25%;
}

.collector-deck-info-wrapper {
    display: flex;
    grid-gap: 30px;
    gap: 30px;
}

.collector-deck-info::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg,#fff 1.05%,#747474 43.92%,#fff 100.39%);
}

.collector-deck-info-subsection {
    background: #fff;
    border-radius: 30px;
    padding: 50px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
    width: 100%;
}

.collector-deck-info-subtitle {
    font-weight: 300;
    font-size: 27px;
    margin-bottom: 24px;
}

.collector-deck-info-subsection:first-child > h4 {
    max-width: 340px;
}

.collector-deck-info-subsection:last-child > h4 {
    margin: 0 0 43px 0;
}

.collector-deck-info-description {
    line-height: 1.8;
    font-size: 14px;
}

.collector-deck-info-subsection:first-child .collector-deck-info-description {
    max-width: 340px;
    margin: 0 0 24px 0;
}

.collector-deck-info-subsection:last-child .collector-deck-info-description {
    padding-top: 20px;
    max-width: 251px;
}

.collector-deck-info-subsection-wrp {
    display: flex;
    justify-content: space-between; 
}

.wam {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 12px;
    gap: 12px;
}

.wam-wrapper {
    display: grid;
    align-items: center;
    justify-items: center;
    place-items: center;
    height: 54px;
    width: 54px;
    border-radius: 50%;
    box-shadow: 0 2px 3px rgb(19 52 77 / 10%);
}

.social-media {
    max-width: 1310px;
    margin: 0 auto; 
    padding: 71px 0 82px;
}

.social-media-title {
    text-align: center;
    font-weight: 300;
    margin-bottom: 12px;
    font-size: 53px;
    padding: 0 24px;
}

.social-media-subtitle {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    padding: 0 16px;
}

.social-media-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 49px;
}

.social-media-btn-wrapper {
    border-radius: 50%;
    border: 1px dashed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #fbfbfb;
}

.social-media-btn-wrapper:first-child {
    right: -40px;
    width: 148px;
    height: 148px;
    min-width: 72px;
    border-color: rgba(0,0,0,.15);
    min-width: 72px;
}

.social-media-btn-wrapper:nth-child(2) {
    right: -20px;
    width: 168px;
    height: 168px;
    border-color: rgba(0,0,0,.25);
    min-width: 84px;
}

.social-media-btn-wrapper:nth-child(3) {
    width: 188px;
    height: 188px;
    border-color: rgba(0,0,0,.4);
    min-width: 94px;
    z-index: 3;
}

.social-media-btn-wrapper:nth-child(4) {
    left: -20px;
    width: 168px;
    height: 168px;
    border-color: rgba(0,0,0,.25);
    min-width: 84px;
    z-index: 2;
}

.social-media-btn-wrapper:nth-child(5) {
    left: -40px;
    width: 148px;
    height: 148px;
    border-color: rgba(0,0,0,.15);
    min-width: 72px;
}



.social-media-btn {
    box-shadow: 0 7px 10px rgb(0 0 0 / 3%);
    border-radius: 50%;
    height: 56px;
    width: 56px;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 0;
    background: #fff;
    cursor: pointer;
}

.press-section {
    border-top: none;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #f2f2f2;
    background-color: transparent;
}

.e_layout {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1278px;
}

.c-press-wrapper .c-press-content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1310px;
}

.c-press-wrapper .c-press-content-wrapper {
    flex-direction: row;
}

.c-press-wrapper .c-press-content-wrapper .c-press-content {
    min-width: 220px;
    margin-right: 100px;
}

.c-press-wrapper .c-press-content-wrapper h2 {
    font-size: 40px;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    line-height: 44px;
    font-style: normal;
    color: #000;
    max-width: 250px;
    margin-bottom: 30px;
}

.press-section h2.press-section__heading {
    font-size: 40px;
    font-weight: 300;
    line-height: 52px;
}

.c-press-wrapper .c-press-content-wrapper .c-press-button-collection {
    display: flex;
    width: 120px;
    justify-content: space-between;
}

.press-section__button--inactive {
    opacity: .2;
}
.press-section__button {
    box-shadow: 0 2px 3px rgb(19 52 77 / 10%);
    border-radius: 50%;
    height: 56px;
    width: 56px;
    display: grid;
    align-items: center;
    justify-items: center;
    place-items: center;
    border: 0;
    background: #fff;
    cursor: pointer;
}

.press-section__button {
    box-shadow: 0 2px 3px rgb(19 52 77 / 10%);
    border-radius: 50%;
    height: 56px;
    width: 56px;
    display: grid;
    align-items: center;
    justify-items: center;
    place-items: center;
    border: 0;
    background: #fff;
    cursor: pointer;
}

.c-press-wrapper .c-press-content-wrapper .c-press-items {
    width: calc(100% - 349px);
}

.c-press-image {
    width: 120px;
}

.c-press-wrapper .c-press-content-wrapper .c-press-items .c-press-item h3, .c-press-wrapper .c-press-content-wrapper .c-press-items .c-press-item p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    max-width: 260px;
    text-decoration: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.c-press-wrapper .c-press-content-wrapper .c-press-items .c-press-item h3 {
    font-size: 16px;
    margin-top: 25px;
    color: #000;
    -webkit-line-clamp: 2;
}

.c-press-wrapper .c-press-content-wrapper .c-press-items .c-press-item p {
    color: #878787;
    font-size: 14px;
    margin-top: 14px;
    height: 8.9em;
    -webkit-line-clamp: 6;
}

.hooper, .hooper * {
    box-sizing: border-box;
}

.hooper {
    position: relative;
    width: 100%;
}

.hooper-list {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.hooper-track {
    /* transform: translate(-307px, 0px); */
    display: flex;
    box-sizing: border-box;
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.c-press-wrapper .c-press-content-wrapper .c-press-items .c-press-item {
    padding: 30px;
    max-width: 306px;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.press-section__item:nth-child(2n) {
    background-color: #fff;
}

.c-press-wrapper .c-press-content-wrapper .c-press-items .c-press-item a {
    text-decoration: none;
}

.hooper-pagination {
    display: none!important;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    padding: 5px 10px;
}

.hooper-slide {
    flex-shrink: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.hooper-indicators {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}



.hooper-indicator.is-active, .hooper-indicator:hover {
    background-color: #4285f4;
}

.hooper-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.footer {
    position: relative;
    padding: 120px 0;
}

.footer a {
    text-decoration: none;
    font-weight: 400;
    transition: opacity .2s;
}

.footer-logo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    border: 0;
    border-radius: 50%;
    padding: 3px;
    background: #fff;
    box-shadow: 0 2px 3px rgb(19 52 77 / 10%);
    margin: 0 24px;
}

.footer-logo img {
    margin: 0;
}

.footer-inner {
    position: relative;
    z-index: 1;
    padding: 0 20px;
    max-width: 1310px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.4fr 2fr 1.4fr;
    align-items: center;
    justify-items: center;
    place-items: center;
}

.footer-item:first-child {
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-self: left;
}

.footer-item:first-child a, .footer-item:nth-child(3) a {
    color: #000;
    font-size: 14px;
}

.footer-item:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
    place-items: center;
}

.footer-item:nth-child(2) a {
    color: #878787;
    opacity: .5;
    font-size: 12px;
}

.footer-item:nth-child(2) p {
    color: #878787;
    opacity: .5;
    font-size: 12px;
}

.footer-item:nth-child(3) {
    display: flex;
    justify-content: space-between;
    justify-self: right;
    width: 100%;
}

.footer.footer-background::after {
    position: absolute;
    bottom: 0;
    content: "";
    background-image: url(../img/footer-background.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

.footer a:hover {
    opacity: .8;
}
















.hero__kinesis-container[data-v-18c14fe5] {
    padding: 0 20px;
    width: 100%;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: grid;
    grid-template:
        "a . . . d" 320px
        ". b . c ." 320px/1fr 1fr 500px 1fr 1fr;
    max-width: 1560px;
}

.home .nft-1[data-v-18c14fe5] {
    grid-area: a;
    position: static!important;
}

.home .nft-2[data-v-18c14fe5] {
    grid-area: b;
}

.home .nft-3[data-v-18c14fe5] {
    grid-area: c;
}

.home .nft-4[data-v-18c14fe5] {
    grid-area: d;
}



 .hero__nft {
    max-width: 100%;
    display: block;
}

.hero__kinesis-container:hover .hero__nft {
    transition: all 1.5s;
    transform: rotate(35deg);
}

.hero__kinesis-container:hover #nft-2 > a > img {
    transition: all 1.5s;
    transform: scale(120%);
}

.hero__kinesis-container:hover #nft-3 > a > img {
    transition: all 1.5s;
    transform: rotate(-35deg);
}

.hero__kinesis-container:hover #nft-4 > a > img {
    transition: all 1.5s;
    transform: translateY(-10%);
}

.modal {
    display: none;

    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* display: grid; */
    align-items: center;
    justify-items: center;
    place-items: center;
    background: rgba(0,0,0,.7);
}

.modal__inner {
    position: relative;
    background: #fff;
    padding: 48px;
    border-radius: 10px;
    width: 80vw;
}

.modal__close {
    cursor: pointer;
    background: transparent;
    border: 0;
    position: absolute;
    right: 16px;
    top: 16px;
    padding: 0;
    display: flex;
}

/* MEDIA ===============================================  */


@media screen and (max-width: 1386px) {
    .home {
        background-size: 110vw,94vw;
    }
}

@media screen and (max-width: 1100px) {
    .home {
        background-image: url(/img/header-gradient.svg);
        background-size: 110vw,90vw;
        background-position: 0 0,center 20%;
    }
}

@media screen and (max-width: 1000px) {
    .hero__kinesis-container[data-v-18c14fe5] {
        display: none;
    }

    .collector-deck-info-title {
        font-size: 24px;
        margin-bottom: 24px;
    }

    .collector-deck-feature, .collector-deck-feature.reversed {
        margin-bottom: 16px;
        padding: 24px 0 0;
        flex-direction: column;
    }

    .collector-deck-feature-content {
        padding: 0 15px;
    }

    .collector-deck-feature-index {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .collector-deck-feature-title {
        font-size: 22px;
        margin-bottom: 12px;
    }

    .collector-deck-feature-star {
        display: none;
    }

    .collector-deck-feature-description {
        margin-bottom: 12px;
    }

    .collector-deck-feature-wrapper {
        margin-bottom: 36px;
    }
}

@media (max-width: 980px) {
    .social-media-btn-wrapper:first-child {
        right: -32px;
        width: 10vw;
        height: 10vw;
    }

    .social-media-btn-wrapper:nth-child(2) {
        right: -16px;
        width: 12.5vw;
        height: 12.5vw;
    }

    .social-media-btn-wrapper:nth-child(3) {
        width: 15vw;
        height: 15vw;
    }

    .social-media-btn-wrapper:nth-child(4) {
        left: -16px;
        width: 12.5vw;
        height: 12.5vw;
    }

    .social-media-btn-wrapper:nth-child(5) {
        left: -32px;
        width: 10vw;
        height: 10vw;
    }
}

@media screen and (max-width: 980px) {
    .footer {
        padding: 15px 0 24px;
    }

    .footer a {
        font-weight: 500;
    }

    .footer-inner {
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
            "middle middle"
            "left right";
        max-width: 400px;
    }

    .footer-item:nth-child(1) {
        border-right: 1px solid #f2f2f2;
    }

    .footer-item:nth-child(1) a, .footer-item:nth-child(3) a {
        padding: 8px 0;
        font-size: 12px;
    }

    .footer-item:nth-child(1), .footer-item:nth-child(3) {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 6px 0;
    }

    .footer-item:nth-child(2) {
        grid-area: middle;
        margin-bottom: 16px;
    }    
}

@media screen and (max-width: 900px) {
    .collector-deck-info {
        flex-direction: column;
        font-size: 22px;
        padding-bottom: 48px;
    }

    .collector-deck-info-wrapper {
        flex-direction: column;
        grid-gap: 16px;
        gap: 16px;
    }

    .collector-deck-info-subtitle {
        font-size: 22px;
    }

}

@media screen and (max-width: 800px) {
    .modal__inner {
        width: 90vw;
        padding: 36px;
    }

    .header-background-rings {
        top: 40px;  
    }
}

@media screen and (max-width: 768px) {
    .header-inner {
        grid-template-columns: repeat(3,1fr);
        padding: 12px 15px;
    }

    .header-logo {
        justify-self: center;
    }

    .header-logo img {
        width: 100%;
    }

    .header-navigation {
        display: none;
    }

    .header-connect-btn {
        display: none;
    }

    .header-mobile-menu-btn {
        display: flex;
    }
}

@media (max-width: 767px) {
    .hero-title {
        padding: 153px 24px 16px;
        font-size: 40px;
    }

    .hero-subtitle {
        margin-bottom: 0;
        margin: 0 auto 180px;
    }

    .about {
        padding: 24px 15px 16px;
        grid-template-columns: auto;
    }

    .about-title {
        font-size: 18px;
        margin-bottom: 16px;
        max-width: 100%;
    }

    .about-button {
        width: 100%;
    }

    .social-media {
        padding: 24px 0 48px;
    }

    .social-media-title {
        font-size: 24px;
    }

    .social-media-subtitle {
        font-size: 14px;
    }

    .social-media-btns {
        margin-top: 24px;
    }

    .social-media-btn-wrapper:first-child {
        width: auto;
        height: 72px;
    }

    .social-media-btn-wrapper:nth-child(2) {
        width: auto;
        height: 84px;
    }

    .social-media-btn-wrapper:nth-child(3) {
        width: auto;
        height: 94px;
    }

    .social-media-btn-wrapper:nth-child(4) {
        width: auto;
        height: 84px;
    }

    .social-media-btn-wrapper:nth-child(5) {
        width: auto;
        height: 72px;
    }

    .social-media-btn {
        height: 40px;
        width: 40px;
    }

}

@media only screen and (max-width: 650px) {
    .c-press-wrapper .c-press-content-wrapper {
        flex-direction: column;
    }

    .c-press-wrapper {
        border: none;
        background-color: #f8f8f8;
        padding: 64px 0;
    }

    .c-press-wrapper .c-press-content-wrapper .c-press-content {
        min-width: 100%;
        margin-right: 0;
    }

    .c-press-wrapper .c-press-content-wrapper .c-press-content h2 {
        max-width: unset;
    }

    .c-press-button-collection {
        display: none!important;
    }

    .c-press-wrapper .c-press-content-wrapper .c-press-items {
        width: 100%;
    }

    .c-press-wrapper .c-press-content-wrapper .c-press-items .c-press-item {
        background-color: #fff;
        width: 100%;
        max-width: 100%;
    }

    /* change */

    .hooper-track {
        flex-direction: column;
    }

    .c-press-wrapper .c-press-content-wrapper .c-press-items .c-press-item h3, .c-press-wrapper .c-press-content-wrapper .c-press-items .c-press-item p {
        max-width: 100%;
    }

    .c-press-item {
        margin: 10px 0 0 0;
    }

    .c-press-item:first-child {
        margin: 0 0 0 0;
    }

    .c-press-item:nth-child(4) {
        display: none;
    }

    .c-press-item:last-child {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .hero-phone {
        max-width: 61vw;
    }
}

@media screen and (max-width: 400px) {
    .hero-cta {
        bottom: -170px;
        width: calc(100% - 30px);
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 550px) {
    .collector-deck-info-subsection{
        padding: 24px 15px;
        border-radius: 12px;
    }

    .collector-deck-info-subsection:first-child .collector-deck-info-subtitle, .collector-deck-info-subsection:last-child .collector-deck-info-subtitle {
        margin-bottom: 12px;
    }

    .collector-deck-info-subsection:last-child .collector-deck-info-subsection-wrp {
        flex-direction: column;
        align-items: center;
    }
    .collector-deck-info-subsection:last-child > .collector-deck-info-subsection-wrp .collector-deck-info-description {
        max-width: unset;
        padding-top: 0;
        margin-bottom: 12px;
    }

    .envoy-logo {
        height: 86px;
        width: 86px;
    }
}